<!DOCTYPE html>
<html class="no-js">
<head>
  <base href="{{ .Site.BaseURL }}/">
  <script>
    document._writeOriginal = document.write;
    document.write = function(str) {
        if (str.indexOf('livereload.js') > -1) {
            document._writeOriginal(str);
        } else {
            document._writeOriginal('<!-- Be Hijack!! -->');
        }
    }
  </script>
  {{ partial "head.meta.html" . }}
  <script>document.documentElement.className = document.documentElement.className.replace("no-js", "js");</script>
  <link rel="canonical" href="{{ .Permalink}}">
  <link rel='shortlink' href="{{ .Permalink}}"/>
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/public/favicon.ico"/>
  {{ partial "head.includes.html" . }}

  <!-- baidu stat : http://tongji.baidu.com/ -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?16a8034e97e7943d9bd7f7310a59a7d8";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

  <!-- cnzz stat : http://tongji.cnzz.com/main.php?c=site&a=show&from=login# -->
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253999623'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1253999623' type='text/javascript'%3E%3C/script%3E"));</script>



</head>
